.navbar-custom {
    width: 100% !important;
}

.navbar-title {
    color: white;
    text-decoration: none;
}

.navbar-logged-in-user {
    color: #ffc107; /* gelblich */
}

.navbar-link {
    color: white;
    text-decoration: none;
}

.Text-warning {
    color: #ffffff; /* gelblich */
    font-size: 11px;
}
.container{
    display: flex;
}
