.navbar-custom {
    width: 100% !important;
}

.navbar-title {
    color: white;
    text-decoration: none;
}

.navbar-logged-in-user {
    color: #ffc107; /* gelblich */
}

.navbar-link {
    color: white;
    text-decoration: none;
}

.Text-User-Name {
    color: #f56ff3; /* gelblich */
    font-size: 17px;
    font-weight: bold;
}
.container{
    display: flex;
}
